<html>
<head>

<run:meta id="meta1"></run:meta>
 
  
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  
 
</head>
<body>



 <div class="container">

      <!-- Static navbar -->
 <run:header id="header"></run:header>
 
     <placeholder id="header"></placeholder>

<placeholder id="body"></placeholder>
 
    </div>
    
    
    
    
 
 


 


<placeholder id="footer"></placeholder>
 

</body>




</html>